#*
   Copyright 2010-2014 Norconex Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Support</title><meta name="Author" content="Norconex Inc." /></head> 


$h2 Community Support

Community support is available on 
[GitHub](https://github.com/norconex/commons-lang/issues).  You are encouraged
to report any issues or questions you may have there.

$h2 Commercial Support

Norconex also offers commercial support for all its open-source projects.
Please [contact Norconex](mailto:info@norconex.com)
for information about obtaining commercial support.
  
