#*
   Copyright 2010-2014 Norconex Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 

<p class="lead">
<a href="download.html" class="btn btn-primary btn-large">Download ${currentStableVersion}</a> 
<br/><br/>
Norconex Commons Lang is a generic Java library containing utility classes 
that complements the Java API and are not found in commonly available 
libraries. Amongst other things, it is used by other Norconex open-source 
projects.
</p>



*********************************************************

$h2 Configuration

Make configurable classes and XML configuration files more portable, reusable
and manageable.  Turn your configuration files into templates that can
interpret variables defined in text files and include 
reusable configuration fragments.  
  
Classes: [com.norconex.commons.lang.config.*](./apidocs/com/norconex/commons/lang/config/package-summary.html)

$h2 Map

Enhanced Maps. Observable maps. and replacement for Properties, adding 
getter and setting for all kinds of class types (integers, boolean, file, etc).

Classes: [com.norconex.commons.map.*](./apidocs/com/norconex/commons/lang/map/package-summary.html)

$h2 Time

Time-related utility classes, including:

  * YearMonthDay class for dates without time
  * YearMonthDayInterval class for a date range without time

Classes: [com.norconex.commons.lang.time.*](./apidocs/com/norconex/commons/lang/time/package-summary.html)

$h2 Data Unit

Provides easy to use conversion of data units (KB, MB, GB, etc) as well as 
offering human-readable formatting.

Classes: [com.norconex.commons.lang.unit.*](./apidocs/com/norconex/commons/lang/unit/package-summary.html)
 
$h2 Files

Classes dealing with files and directories, such as:
  
  * getting the "head" or the "tail" of a file
  * converts any strings to OS friendly file names 
  * create time-based directory structure
  * recursively browse directories using the visitor pattern
  * stream a file in reverse
  * monitor files for changes

Classes: [com.norconex.commons.lang.file.*](./apidocs/com/norconex/commons/lang/file/package-summary.html)

$h2 URL

URL-related utility classes offering features such as:
  
  * Mutable URL
  * QueryString class for easy setting/getting of query parameters
  * URL normalization
  * Several URL streaming options
  
Classes: [com.norconex.commons.lang.url.*](./apidocs/com/norconex/commons/lang/url/package-summary.html)

$h2 I/O

Provides features for dealing with streams, such as:
  
  * filter input streams using input stream filters (e.g. regex-based filter)
  * stream in reverse
  * create listeners that get notified when input stream is being read

Classes: [com.norconex.commons.lang.io.*](./apidocs/com/norconex/commons/lang/io/package-summary.html)

$h2 Others

Other classes not fitting anyhere.  Includes:
  
  * Sleeper class
  * Ways to test several objects at once for equality
  * Find classes in classpath, directories and jars
  * Percent formatter
  * Pipeline classes
  * EnhancedXMLStreamWriter
  
Classes: [com.norconex.commons.lang.*](./apidocs/com/norconex/commons/lang/package-summary.html)
  