#set($names = ["Alice", "Bob", "Charlie"])
#set($age = [10, 30, 50])
#set($size = $names.size() - 1)  ## todo need to debug
#set($index = 0)
#foreach($name in $names)
Name: $name
Age: $age[$index]
#if($age[$index] >= 18)
age: you are nothing.
#else
Feels: very old.
#end
#set($index = $index + 1)
#end
