~~ Copyright 2010-2013 Norconex Inc.
~~ 
~~ This file is part of Norconex Commons Lang.
~~ 
~~ Norconex Commons Lang is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU General Public License as published by
~~ the Free Software Foundation, either version 3 of the License, or
~~ (at your option) any later version.
~~ 
~~ Norconex Commons Lang is distributed in the hope that it will be useful, 
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of 
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU General Public License
~~ along with Norconex Commons Lang. If not, see <http://www.gnu.org/licenses/>.
            ------
            Welcome
            ------
            Norconex Inc.
            ------

Welcome to Norconex Commons Lang

  Norconex Commons Lang is a generic Java library containing utility classes 
  that complements the Java API and are not found in commonly available 
  libraries. Amongst other things, it is used by other Norconex open-source 
  projects.

  The current stable version of 
  {{{http://www.norconex.com/product/commons-lang}Norconex Commons Lang}} is
  ${currentStableVersion} ({{{./download.html}download}}). 
  
  This site documentation reflects version ${project.version}.
  
  Latest {{{./apidocs/index.html}API documentation}}.

  The following is a general description of packages 
  available in this library.  Click on a package links to 
  get a summary of classes and complete documentation:


* Configuration

  Makes it easier to deal with configuration files and configurable classes,
  especially when dealing with XML.
  Their purpose is to make configuration files more portable, reusable
  and manageable.  Turn your configuration files into templates that can
  interpret variables defined in variables files and can include 
  reusable configuration fragments.  
  
  Classes: {{{./apidocs/com/norconex/commons/lang/config/package-summary.html} com.norconex.commons.lang.config.*}}

* I/O

  Provides features for dealing with streams, files and directories,
  such as:
  
    * getting the "head" or the "tail" of a file

    * create time-based directory structure

    * recursively browse directories using the visitor pattern

    * filter input streams using input stream filters (e.g. regex-based filter)

    * stream a file in reverse

    * create listeners that get notified when input stream is being read

  Classes: {{{./apidocs/com/norconex/commons/lang/io/package-summary.html} com.norconex.commons.lang.io.*}}
  
* URL

  URL-related utility classes offering features such as:
  
    * Mutable URL
    
    * QueryString object for easy setting/getting of query parameters
    
    * URL normalization
    
    * Several URL streaming options
  
  Classes: {{{./apidocs/com/norconex/commons/lang/url/package-summary.html} com.norconex.commons.lang.url.*}}
